body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
.container {
	margin: 0;
	padding: 0;
	width: 1200px;
	margin: auto;
	background-color: #fff;
	box-shadow: 0 0 10px 0 #81b3d2;
}
.container-outside {
	margin: 0;
	padding: 0;
	width: 1280px;
	margin: auto;
	background-color: #f2f2f2;
}
.wrapper-outside {
	width: 1056px;
	margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.index-column {
	margin: 0;
	padding: 0;	
	height: 54px;	
	display: flex;
	justify-content: space-between;
}
.left-column, 
.right-column {
	margin: 0;
	padding: 0;
	list-style: none;	
}
.left-column {
	width: 340px;
	/*padding-left: 73px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right-column {
	width: 340px;
	height: 54px;
	/*padding-right: 73px;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right-column li:first-child {
	padding-left: 10px;
}

.site-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}
.site-navigation a:not(:nth-child(2)) {
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
	color: #000;
}
.site-navigation a:hover {
	color: #81b3d2;
}
.site-navigation a:focus {
	color: #766357;
}
.site-navigation a:active {
	color: rgba(0,0,0,0.3);
}
.main-background {
	padding: 0;
	margin: 0;
	margin-bottom: 63px;
	width: 1200px;
	height: 500px;
	background-color: white;
	background:
		url("img/welcome.png") no-repeat center 76px,
		url("img/Shape1200.png") no-repeat center bottom,
		url("img/background.jpg");
}

.feature-first-right-side {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background-color: white;
	background: url("img/city.jpg") no-repeat center center;
}
.feature-second-left-side {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background-color: white;
	background: url("img/canyon.jpg") no-repeat center center;
}
.first-row {
	margin: 0;
	padding: 0;
	display: flex;
	margin-bottom: 49px;
	height: 260px;
}
.feature-first-left-side p,
.feature-second-right-side p {
	color: #fff;
}
.feature-first-left-side,
.feature-second-right-side {
	background-color: #81b3d2;
	color: #fff;
	width: 400px;

}
.feature-first-left-side h3,
.feature-second-right-side h3 {
	padding-top: 45px;
}
.feature-first-city {
	display: flex;
	margin-bottom: 70px;
}
.feature-first-city li {
	width: 400px;
}
.feature-second {
	height: 260px;
	margin: 0;
	padding: 0;
	display: flex;
}
.about-city-features {
	margin: 0;
	padding: 0;
}
.about-city {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.about-city h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}
.about-city-preamble {
	margin: 0;
	margin-bottom: 50px;
	line-height: 26px;
	color: #333;
}
.about-city ol,
.about-city ul {
	list-style: none;
}
.about-city p {
	color: #333;
	text-align: center;
}
.about-city h3 {
	
	font-weight: bold;
	font-size: 21px;
	text-align: center;
}
.third-fifth {
	display: flex;
	margin-bottom: 55px;
}
.third-fifth li {
	width: 400px;
	height: 255px;
}
.third-fifth h3 {
	padding-top: 45px;
}
.feature-third,
.feature-four,
.feature-five {
	background-color: #eee;
}
.looking--background {
	padding: 0;
	margin: 0;
	width: 1200px;
	height: 473px;
	background-color: white;
	background: url("img/map.jpg") no-repeat center center;
}
.looking-for-hotel {
	position: relative;

}
.looking-for-hotel-center {
	display: inline-block;
	position: absolute;
	top: 145px;
	left: 316px;
	width: 568px;
	height: 480px;
	background-color: #fff;
}
.looking-for-hotel h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
}
.looking-for-hotel p {

	font-size: 14px;
	line-height: 24px;
	color: #333;
	text-align: center;
}
.looking-p {
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 134px;
}
p.looking-button {
	margin: 0;
	margin-bottom: 55px;
	padding-top: 30px;
	padding-bottom: 30px;
	
	background-color: #766357;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}
p.looking-button:hover {
	background-color: #604e43;
}
p.looking-button:active {
	background-color: #503e33;
	color: rgba(256, 256, 256, 0.3);
}
.looking-form {
	display: flex;
	width: 458px;
	flex-direction: column;
	margin: 0 auto;
	justify-content: space-between;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}
.looking-entry-date,
.looking-leave-date {
	margin: 0;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.looking-entry-date svg,
.looking-leave-date svg {
	position: absolute;
	right: 7px;
	fill: #cacaca;
}
.looking-entry-date svg:hover,
.looking-leave-date svg:hover {
	fill: #000;
}
.looking-entry-date svg:active,
.looking-leave-date svg:active {
	fill: #81b3d2;
}
.children-adults {
	margin: 0;
	margin-bottom: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.looking-entry-date input,
.looking-leave-date input {
	width: 333px;
	height: 38px;
	font-weight: bold;
	color: #000;
	background-color: #f2f2f2;	
	border-style: none;
	text-transform: uppercase;
	padding-left: 13px;

}

.looking-entry-date input:hover,
.looking-leave-date input:hover {
	background-color: #ebebeb;
}
.looking-entry-date input:focus,
.looking-leave-date input:focus {
	background-color: #fff;
	outline: 0;
	border: 2px solid #e5e5e5;
}
.btn-increment,
.btn-decrement {
	display: inline-block;
	height: 38px;
	width: 38px;
	background-color: #f2f2f2;
	border-style: none;
	color: #a9a9a9;
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;
}
.looking-form .output-block {
	display: flex;
	align-items: center;
	width: 114px;
	height: 38px;
	background-color: #f2f2f2;
}
.looking-form output {
	/*display: inline-block;
	height: 38px;
	width: 38px;
	text-align: center;
	vertical-align: middle;*/
	width: 38px;
	font-size: 16px;
	color: #000;
	background-color: #f2f2f2;
}
.btn-increment:hover,
.btn-decrement:hover {
	color: #000;
}
.btn-increment:active,
.btn-decrement:active {
	color: #81b3d2;
}
.btn-find {
	font: inherit;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	border:none;
	background-color: #81b3d2;
	color: #fff;
	width: 458px;
	height: 58px;
	text-transform: uppercase;
}
.btn-find:hover {
	background-color: #669ec0;
}
.btn-find:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.main-footer {
	margin-top: 36px;
	padding-bottom: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-footer h3 {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	align-self: center;
	width: 240px;
	padding-left: 73px;
}
.main-footer ul {
	margin: 0;
	list-style: none;
	text-align: center;
	width: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-social li {
	background-color: #81b3d2;
	color: #fff;
}
.footer-social li:hover {
	background-color: #669ec0;
	color: #fff;
}
.footer-social li:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.footer-social a {
	width: 46px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-social a:hover {
	color: #fff;
}
.footer-social a:active path {
	fill: #88b6d1;
}
.footer-copyright {
	color: #000;
	font-size: 14px;
	line-height: 26px;
	width: 241px;
	padding-right: 73px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer-copyright a {
	margin-left: 7px;
	display: flex;
	align-items: center;
}
.footer-copyright a path {
	fill: #231f20;
}
.footer-copyright a:hover path {
	fill: #81b3d2;
}
.footer-copyright a:active path {
	fill: #bdbbbc;
}
/*----------------- HOTELS ---------------------*/
.site-navigation-current {
	color: #766357;
}
.filter-hotels {
	width: 1200px;
	height: 217px;
	background-color: #41729a;
	background-image: url("img/hotels/filter_background.jpg");
	background-repeat: no-repeat;
	background-position: top;
	color: #fff;
}
.filter-hotels form {
	display: flex;
	height: 217px;
	align-items: center;
}
.filter-hotels fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
.filter-range {
	/*border: 1px dotted yellow;*/
	width: 330px;
	margin: auto 0 auto auto;
}
.left-side legend,
.middle legend,
.filter-range-title {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}
.filter-range-title {
	margin-bottom: 9px;
}
.price-controls {
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #fff;
	border-radius: 2px;
	font-size: 0;/* remove space */
	position: relative;
}
.price-controls::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 22px;
	background-color: #fff;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* position -center */
}
.price-controls label {
	cursor: pointer;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

	display: inline-block;/*doing entirely clickable*/
	width: 90px;
	padding-left: 65px;
	/*border: 1px dotted red;*/
}
.price-controls input {
	width: 50px;
	background: none;
	font: inherit;
	color: inherit;
	border: none;
}
.range-controls {
	margin-bottom: 32px;
	position: relative;
}
.range-controls .scale {
	height: 2px;
	background: rgba(255,255,255, 0.3);
}
.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #fff;
}
.range-toggle {
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #fff;

	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

	position: absolute;
	top: -9px;
}
.range-toggle-min {
	left: 0;
}
.range-toggle-max {
	left: 80%;
}
.range-toggle:hover {
	background: #1c4f80;
}
.filter-hotels button {
	font: inherit;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 2px;
	font-size: 14px;
	line-height: 20px;
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
}
.filter-hotels button:hover {
	color: #000;
	background-color: #fff;
}
.filter-hotels legend {
	margin-bottom: 24px;
}
.filter-hotels p {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	margin-bottom: 26px;
}
.filter-hotels p:last-child {
	margin-bottom: 0;
}
.middle {
	margin-left: 116px;
}
.left-side label,
.middle label {
	padding-left: 40px;
	position: relative;
	cursor: pointer;
	display: block;
}
.left-side label::before,
.middle label::before {
	position: absolute;
	content: "";
	width: 23px;
	height: 23px;
	left: 0px;
	top: -2px;
	background: url("img/hotels/checkbox-off2.svg");
}
.left-side input:checked + label::after,
.middle input:checked + label::after {
	position: absolute;
	content: "";
	width: 27px;
	height: 23px;
	left: 0px;
	top: -2px;
	background: url("img/hotels/checkbox-on.svg");
}
.checkbox:disabled + label,
.checkbox:disabled + label::before {
	color: #6a6a6a;
	cursor: default;
}
.filter-hotels-range {
	padding: 0;
	margin: 0;
}
.flex-sort {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
p.search-sorting {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-right: 50px;
	margin-bottom: 0;
}
.sort-select {
	display: flex;
	align-items: center;
}
.sort-select span,
.hot-link {
	font-size: 12px;
	line-height: 18px;
}
.sort-select span {
	margin-right: 40px;
	cursor: default;
}
.hot-link {
	border-bottom: 2px dotted #81b3d2;
	color: rgba(0, 0, 0, 0.3);
	margin-right: 33px;
}
.selected {
	color: #81b3d2;
	border-bottom: none;
	cursor: default;
}
.hot-link:hover {
	color: #81b3d2;
}
.hot-link:active {
	color: #000;
}
.sort-updown {
	margin-left: auto;
}
.sort-updown a {
	margin-left: 10px;
}
.arrow-down svg ,
.arrow-up  svg {
	fill: #cacaca;
}
.arrow-down:hover svg,
.arrow-up:hover svg {
	fill: #000;
}
.arrow-down:active svg,
.arrow-up:active svg {
	fill: #81b3d2;
}
.selected svg {
	fill: #81b3d2;
}
.hotel-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.hotel-sorting {
	margin-bottom: 60px;
}
.hotel-container {
	display: flex;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	margin-bottom: 60px;
	position: relative;
}
.hotel-container:last-child {
	margin-bottom: 30px;
}
.hotel-container:first-child::before {
	content: "";
	left: -74px;
	top: -31px;
	position: absolute;
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-container::after {
	content: "";
	left: -74px;
	bottom: -31px;
	position: absolute;
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;
}
.hotel-foto {
	width: 135px;
	height: 90px;
	margin-right: 30px;
}
.hotel-info {
	height: 90px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
p.hotel-buttons {
	margin-bottom: 0;
	height: 23px;
}
.hotel-buttons a {
	padding: 4px 17px;
}
.hotel-rating {
	height: 90px;
	margin-left: auto;
	
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;*/
}
.hotel-rating p {
	position: relative;
	margin: 0;
	margin-top: 63px;
	background-color: #f2f2f2;
	padding: 4px 16px;
}
.hotel-rating p::before {
	position: absolute;
	top: -63px;
	height: 16px;
	width: 72px;
	content: "";
	background: url("img/hotels/★.svg") repeat-x left center;
}
.hotel-container:nth-child(2) .hotel-rating p::before {
	width: 54px;
}
.hotel-container:last-child .hotel-rating p::before {
	width: 36px;
}
.hotel-info h3 {
	padding: 0;
	margin: 0;
	padding-top: 0;
	margin-top: 0;
	line-height: 21px;
	font-size: 21px;
}
.hotel-name {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
}
.hotel-name:hover {
	color: #81b3d2;
}
.hotel-name:active {
	color: rgba(0,0,0,0.3);
}
p.hotel-nomination {
	color: #333;
	margin: 0;
	/*margin-top: 7px;
	margin-bottom: 14px;*/
}
.hotel-more {
	color: #fff;
	background-color: #81b3d2;
	font-weight: bold;
}
.hotel-more:hover {
	background-color: #669ec0;
}
.hotel-more:active {
	background-color: #5496bd;
	color: rgba(256,256,256,0.3);
}
.hotel-booking {
	color: #fff;
	background-color: #766357;
	font-weight: bold;
}
.hotel-booking:hover {
	background-color: #604e43;
}
.hotel-booking:active {
	background-color: #503e33;
	color: rgba(256,256,256,0.3);
}
