body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
}
a {
	text-decoration: none;
}
.container {
	margin: 0;
	padding: 0;
	width: 1200px;
	margin: auto;
	background-color: #fff;
	box-shadow: 0 0 10px 0 #81b3d2;
}
.container-outside {
	margin: 0;
	padding: 0;
	width: 1280px;
	margin: auto;
	background-color: #f2f2f2;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.index-column {
	margin: 0;
	padding: 0;	
	height: 54px;	
	display: flex;
	justify-content: space-between;
}
.left-column, 
.right-column {
	margin: 0;
	padding: 0;
	list-style: none;	
}
.left-column {
	width: 340px;
	padding-left: 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right-column {
	width: 340px;
	height: 54px;
	padding-right: 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right-column li:first-child {
	padding-left: 10px;
}

.site-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}
.site-navigation a:not(:nth-child(2)) {
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
	color: #000;
}
.site-navigation a:hover {
	color: #81b3d2;
}
.site-navigation a:focus {
	color: #766357;
}
.site-navigation a:active {
	color: rgba(0,0,0,0.3);
}
.main-background {
	padding: 0;
	margin: 0;
	margin-bottom: 63px;
	width: 1200px;
	height: 500px;
	background-color: white;
	background:
		url("img/welcome.png") no-repeat center 76px,
		url("img/shape1200.png") no-repeat center bottom,
		url("img/background.jpg");
}

.feature-first-right-side {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background-color: white;
	background: url("img/city.jpg") no-repeat center center;
}
.feature-second-left-side {
	margin: 0;
	padding: 0;
	width: 800px;
	height: auto;
	background-color: white;
	background: url("img/canyon.jpg") no-repeat center center;
}
.first-row {
	margin: 0;
	padding: 0;
	display: flex;
	margin-bottom: 49px;
	height: 260px;
}
.feature-first-left-side p,
.feature-second-right-side p {
	color: #fff;
}
.feature-first-left-side,
.feature-second-right-side {
	background-color: #81b3d2;
	color: #fff;
	width: 400px;

}
.feature-first-left-side h3,
.feature-second-right-side h3 {
	padding-top: 45px;
}
.feature-first-city {
	display: flex;
	margin-bottom: 70px;
}
.feature-first-city li {
	width: 400px;
}
.feature-second {
	height: 260px;
	margin: 0;
	padding: 0;
	display: flex;
}
.about-city-features {
	margin: 0;
	padding: 0;
}
.about-city {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.about-city h2 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;
}
.about-city-preamble {
	margin: 0;
	margin-bottom: 50px;
	line-height: 26px;
	color: #333;
}
.about-city ol,
.about-city ul {
	list-style: none;
}
.about-city p {
	color: #333;
	text-align: center;
}
.about-city h3 {
	
	font-weight: bold;
	font-size: 21px;
	text-align: center;
}
.third-fifth {
	display: flex;
	margin-bottom: 55px;
}
.third-fifth li {
	width: 400px;
	height: 255px;
}
.third-fifth h3 {
	padding-top: 45px;
}
.feature-third,
.feature-four,
.feature-five {
	background-color: #eee;
}
.looking--background {
	padding: 0;
	margin: 0;
	width: 1200px;
	height: 473px;
	background-color: white;
	background: url("img/map.jpg") no-repeat center center;
}
.looking-for-hotel {
	position: relative;

}
.looking-for-hotel-center {
	display: inline-block;
	position: absolute;
	top: 145px;
	left: 316px;
	width: 568px;
	height: 480px;
	background-color: #fff;
}
.looking-for-hotel h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	font-size: 30px;
	line-height: 24px;
	text-align: center;
}
.looking-for-hotel p {

	font-size: 14px;
	line-height: 24px;
	color: #333;
	text-align: center;
}
.looking-p {
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 134px;
}
p.looking-button {
	margin: 0;
	margin-bottom: 55px;
	padding-top: 30px;
	padding-bottom: 30px;
	
	background-color: #766357;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}
p.looking-button:hover {
	background-color: #604e43;
}
p.looking-button:active {
	background-color: #503e33;
	color: rgba(256, 256, 256, 0.3);
}
.looking-form {
	display: flex;
	width: 458px;
	flex-direction: column;
	margin: 0 auto;
	justify-content: space-between;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
}
.looking-entry-date,
.looking-leave-date {
	margin: 0;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.looking-entry-date svg,
.looking-leave-date svg {
	position: absolute;
	right: 7px;
	fill: #cacaca;
}
.looking-entry-date svg:hover,
.looking-leave-date svg:hover {
	fill: #000;
}
.looking-entry-date svg:active,
.looking-leave-date svg:active {
	fill: #81b3d2;
}
.children-adults {
	margin: 0;
	margin-bottom: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.looking-entry-date input,
.looking-leave-date input {
	width: 333px;
	height: 38px;
	font-weight: bold;
	color: #000;
	background-color: #f2f2f2;	
	border-style: none;
	text-transform: uppercase;
	padding-left: 13px;

}

.looking-entry-date input:hover,
.looking-leave-date input:hover {
	background-color: #ebebeb;
}
.looking-entry-date input:focus,
.looking-leave-date input:focus {
	background-color: #fff;
	outline: 0;
	border: 2px solid #e5e5e5;
}
.btn-increment,
.btn-decrement {
	display: inline-block;
	height: 38px;
	width: 38px;
	background-color: #f2f2f2;
	border-style: none;
	color: #a9a9a9;
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;
}
.looking-form .output-block {
	display: flex;
	align-items: center;
	width: 114px;
	height: 38px;
	background-color: #f2f2f2;
}
.looking-form output {
	/*display: inline-block;
	height: 38px;
	width: 38px;
	text-align: center;
	vertical-align: middle;*/
	width: 38px;
	font-size: 16px;
	color: #000;
	background-color: #f2f2f2;
}
.btn-increment:hover,
.btn-decrement:hover {
	color: #000;
}
.btn-increment:active,
.btn-decrement:active {
	color: #81b3d2;
}
.btn-find {
	font: inherit;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	border:none;
	background-color: #81b3d2;
	color: #fff;
	width: 458px;
	height: 58px;
	text-transform: uppercase;
}
.btn-find:hover {
	background-color: #669ec0;
}
.btn-find:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.main-footer {
	margin-top: 36px;
	padding-bottom: 36px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-footer h3 {
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	align-self: center;
	width: 240px;
	padding-left: 73px;
}
.main-footer ul {
	margin: 0;
	list-style: none;
	text-align: center;
	width: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer-social li {
	background-color: #81b3d2;
	color: #fff;
}
.footer-social li:hover {
	background-color: #669ec0;
	color: #fff;
}
.footer-social li:active {
	background-color: #5496bd;
	color: #88b6d1;
}
.footer-social a {
	width: 46px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-social a:hover {
	color: #fff;
}
.footer-social a:active path {
	fill: #88b6d1;
}
.footer-copyright {
	color: #000;
	font-size: 14px;
	line-height: 26px;
	width: 241px;
	padding-right: 73px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.footer-copyright a {
	margin-left: 7px;
	display: flex;
	align-items: center;
}
.footer-copyright a path {
	fill: #231f20;
}
.footer-copyright a:hover path {
	fill: #81b3d2;
}
.footer-copyright a:active path {
	fill: #bdbbbc;
}
/*----------------- HOTELS ---------------------*/
.site-navigation-current {
	color: #766357;
}
.filter-hotels {
	width: 1200px;
	height: 217px;
	background-color: #41729a;
	background-image: url("img/hotels/filter_background.jpg");
	background-repeat: no-repeat;
	background-position: top;
	color: #fff;
}
.filter-hotels form {
	display: flex;
}
.filter-hotels fieldset {
	border: none;
}
.left-side legend,
.middle legend,
.filter-hotels-range-min {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}
.filter-hotels p {
	font-size: 14px;
	line-height: 21px;
}
.left-side,
.middle,
.right-side {
	text-align: center;
	padding-top: 30px;
	/*border: 1px dashed red;*/
	padding-left: 330px;
}
.left-side {
	padding-left: 73px;
}
.middle {
	padding-left: 90px;
}
.filter-hotels-range {
	padding: 0;
	margin: 0;
}
.filter-hotels button {
	font: inherit;
	border: 2px solid #fff;
	color: #fff;
	background-color: transparent;
	text-align: center;
	text-transform: uppercase;
}
.filter-hotels button:hover {
	color: #000;
	background-color: #fff;
}
.flex-sort {
	display: flex;
}
.search-sorting,
.sort-select,
.sort-updown {
	border: 1px dashed red;
}
.sort-updown {
	margin-left: auto;
	padding-right: 73px;
}
.search-sorting p {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}
.search-sorting span,
.hot-link {
	font-size: 12px;
	line-height: 18px;
}
.hot-link {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: rgba(0, 0, 0, 0.3);
}
.selected {
	color: #81b3d2;
	text-decoration: none;
}
.hot-link:hover {
	color: #81b3d2;
}
.hot-link:active {
	color: #000;
}
.hotel-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.hotel-container {
	display: flex;
	padding: 0;
	margin: 0;
}
.hotel-rating {
	margin-left: auto;
	padding-right: 73px;
}
.hotel-info h3 {
	padding-top: 0;
	margin-top: 0;
}
.hotel-name {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: #000;
}
.hotel-name:hover {
	color: #81b3d2;
}
.hotel-name:active {
	color: rgba(0,0,0,0.3);
}
.hotel-nomination {
	color: #333;
}
.hotel-more {
	color: #fff;
	background-color: #81b3d2;
	font-weight: bold;
}
.hotel-more:hover {
	background-color: #669ec0;
}
.hotel-more:active {
	background-color: #5496bd;
	color: rgba(256,256,256,0.3);
}
.hotel-booking {
	color: #fff;
	background-color: #766357;
	font-weight: bold;
}
.hotel-booking:hover {
	background-color: #604e43;
}
.hotel-booking:active {
	background-color: #503e33;
	color: rgba(256,256,256,0.3);
}
